@{
    ViewData["Title"] = "Perfil";
}

<main class="main_P">
    <!-- Início do perfil -->

    <div class="conteudo_P">
        <section class="introducao_P">
            <!-- Início da introdução com informações do usuário -->

            <div class="foto_P">
                <!-- Parte onde tem a foto do usuário -->
                <img class="radius" src="~/img/@ViewBag.Logado.Foto" alt="Foto do proprio perfil">
            </div>

            <div class="corpo_P">
                <div class="nome_P">
                    <p class="username_P">@ViewBag.Logado.Username</p>
                    <p> <a class="links_P" asp-area="link para edicao" asp-controller="Edicao" asp-action="Index"> Editar perfil </a></p>
                </div>

                <div class="info_P">
                    <p>2 publicações</p>
                    <p>128 seguindo</p>
                    <p>214 seguidores</p>
                </div>

                <div class="opcoes_P">
                    <p class="nomeCompleto">@ViewBag.Logado.Nome</p>
                    <p> <a class="links_P" href="https://localhost:5001/"> Sair </a></p>
                </div>
            </div>

        </section> <!-- Fim das informações do usuário-->


        <!--Início do feed das publicações-->

        <div class="logoPub_P">
            <img src="~/img/image 1.svg" alt="Logo de Publicações">
            <p>Publicações</p>
        </div>

        @foreach(Publicacao p in @ViewBag.Post)
        {
        <section class="postagens_P">
            <img class="fotoPubli_P" src="~/img/Feed/@p.Imagem" alt="Foto da postagem do usuário">

            <div class="mae_P">

                <div class="funcoes_P">
                    <img class="edicao-lixeira_P" src="~/img/lixeira.svg" alt="coração para curtir a foto do usuário">
                </div>

                <div class="infoUser_P">
                    <img class="imagemp_P radius" src="~/img/@ViewBag.Logado.Foto" alt="Foto do próprio perfil">

                    <div class="localizacao_P">
                        <p class="negrito_P">@ViewBag.Logado.Nome</p>
                        <p class="lugar_P">Rio de Janeiro, Brazil</p>
                    </div>

                </div>

                <div class="reacoes_P">
                    <div class="icones_P">
                        <img src="~/img/Like.svg" alt="curtir a foto do usuário">
                        <img src="~/img/Vector.svg" alt="comentar foto do usuário">
                    </div>
                    <p>@p.Likes curtidas</p>
                </div>

                <div class="comentarios_P">
                    <div>
                        <div class="outrosComent_P">
                            <p class="usuario_P negrito_P">@ViewBag.objUsuario.MostrarUsuario(p.IdUsuario).Username</p>
                            <p>@p.Legenda</p>
                        </div>    
                    </div>

                    @foreach(Comentario c in ViewBag.Comentarios.BuscarPorId(p.IdPublicacao))
                    {
                    <div>
                        <div class="outrosComent_P">
                            <p class="usuario_P negrito_P">@ViewBag.objUsuario.MostrarUsuario(c.IdUsuario).Username</p>
                            <p>@c.Mensagem</p>
                        </div>
                        
                        <img src="~/img/Like.svg" alt="coração para curtir a foto do usuário">
            
                    </div>
                    }
                </div>
                <p class="vertodos_P">Ver todos os 585 comentários</p>
            </div>
        </section>
        }
    </div>
</main> <!-- Fim do Perfil -->